.water{
    background-color: rgb(164, 183, 196);
}
.tea{
    background-color: rgb(202, 145, 172);
}
.soap{
    background-color: rgb(211, 171, 118);
}
.food{
    background-color: rgb(206, 186, 133);
}
.amount{
    padding-top: 16px;
    background-color:white;
}